body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 10px;
    margin: 0 auto 0 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    width: 400px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  
}
.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}

.form-signin input[type="date"] {
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}

.form-signin button {
	width: 400px;
}

.form-signin button #pesq {
	margin-top: 350px;
    margin-left: 900px;
}

textarea{
	resize: none;
	/*border-top-left-radius: 10px;*/
	width: 400px;
}