body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.starter-template input[type="text"]{
	margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}