body{
	padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.blocoHome{
  margin-left: 10px;
}

.blocoH3 {
  margin-left: 10px; 
}


table {
  border-collapse: separate;
  border-spacing: 80px 10px;
}

.resultado th{
  text-align: center;
}

.resultado td{
  white-space: nowrap;
  text-align: center;
}

.info{
  padding-top: 30px;
}

.textoSobre{
  text-align: justify;
}

/* Start Footer
-------------------------------------------------- */


.footer {

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

/* End Footer
-------------------------------------------------- */
