<!doctype html>
{% load staticfiles %}
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Document">
	
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" href="{% static 'css/estilomenu.css ' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css ' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css ' %}">

	{% block Estilo %}
	{% endblock %}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

	{% block JScript %}
	{% endblock %}
</head>
<body>

	<nav class="navbar navbar-fixed-top navbar-inverse"> <!--#  Cria toda a barra de navegação  #--> <!--# Mantem a barra fixano topo  #--> <!--#  Altera a cor da barra #-->
		<div class="navbar-inner"> <!--#  Cria toda a formatação  #-->
			<div class="container"> <!--#  Agrupamento de botoes e links  #-->
				<!--#  .btn-navbar classe usada como alternador de conteudo colapsavel  #--> 
				<!--#  .data-toggle="collapse"  #-->
				<!--#  .data-target=".nav-collapse"  #-->
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <!--#  Alternador de conteudo colapssavel, aparece qnd mudamos a resolução #-->
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="{% url 'library.views.home' %}" class="brand">Library Chameleon</a> <!--# Logo da Aplicação #-->

				<div class="nav-collapse collapse"> <!--#  Começa a navegação, aparece na mudança de resolução #-->
					<ul class="nav"> <!--#  Criação dos link's escondidos a menos de 940 px#--> <!--#  .divider-vertical barras para dividir menus #-->
						<li><a href="{% url 'library.views.home' %}">Home</a></li>
						<li><a href="{% url 'library.views.sobre' %}">Sobre</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros
								<!--#<b class="caret"></b>   setinha do drop #-->
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'library.views.cadLivro' %}">Livro</a></li>
								<li><a href="{% url 'library.views.cadPessoa' %}">Usuarios</a></li>
							</ul>
						</li> 
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pesquisas
								<!--#<b class="caret"></b>   setinha do drop #-->
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'library.views.pesqLivro' %}">Livro</a></li>
								<li><a href="{% url 'library.views.pesqUsuario' %}">Usuarios</a></li>								
							</ul>
						</li>
						<li><a href="{% url 'library.views.cadEmprestimo' %}">Emprestimos</a></li>
						<li><a href="{% url 'library.views.relatorios' %}">Relatorios</a></li>
						<li><a href="{% url 'library.views.ajuda' %}">Ajuda</a></li>
					</ul>

					<form action="" class="navbar-form pull-right"> <!--# .pull-right formulario a direita #-->
						<a href="{% url 'library.views.sairSistema' %}" class="btn btn-info">Logout</a>
					</form>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 bloco1">
				<div class="span2 blocoSpan2"></div>
				<div class="span8 blocoSpan8">
					{% block Content %} <!--# Bloco de Conteudo principal #-->
					{% endblock %}					
				</div>
				<div class="span2 blocoSpan2"></div>
			</div>
		</div>
	</div>	

	<footer class="footer">
		<div class="container">
			<p><small>&copy; Copyright - Chameleon | Contact Information: <a href="">rayanepaiiva@live.com</a></small></p>
		</div>
	</footer>
</body>
</html>

<!--#  #-->