{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Cadastro de Livro{% endblock %}

{% block Estilo %}
<link href="{% static 'css/cadastros.css' %}" rel="stylesheet">
{% endblock %}

{% block Corpo %}		
<div class="container">

  <form class="form-signin" role="form" action="." method="post"> {% csrf_token %}
	<h2 class="form-signin-heading">Cadastro</h2>
		
	{{form.as_p}}
	
	<hr><p><button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button></p>
  </form>
  
</div>
{% endblock %}

{% block JScript %}
{% endblock %}
