{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Cadastro de Biblioteca{% endblock %}

{% block Estilo %}
{% endblock %}

{% block Content %}
    <div class="container">

      <form class="starter-template" role="form" action="." method="post"> {% csrf_token %}
        <h2>Cadastro Library</h2>
		<input type="text" class="form-control" id="nome" name= "nome" placeholder="Nome" required autofocus>
		<input type="text" class="form-control" id="endereco" name= "endereco" placeholder="Endereço" required>
        <input type="text" class="form-control" id="telefone" name= "telefone" placeholder="Telefone" required>
		
		<br><p><button class="btn btn-lg btn-primary" type="submit">Cadastrar</button></p>
		
		<div>
			<small>
				<p><b>OBS: Você não ira conseguir realizar outros cadastros sem antes cadastrar os dados de sua Biblioteca.</b></p>
			</small>
		</div>
      </form>
	  
    </div>	
{% endblock %}