{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Cadastro de Biblioteca{% endblock %}

{% block Estilo %}
{% endblock %}

{% block Content %}
    <div class="blocoHome">

      <form class="form-horizontal" action="." method="post"> {% csrf_token %}
		<h3 class="blocoH3">Cadastro Library</h3>
		
		<div class="control-goup">
			<label for="nome" class="control-label">Nome</label>
				<div class="controls">
					<input type="text" id="nome" name= "nome" placeholder="Nome" required autofocus>
				</div>
		</div>

		<div class="control-goup">
			<label for="endereco" class="control-label">Endereço</label>
				<div class="controls">
					<input type="text" id="endereco" name= "endereco" placeholder="Endereço" required>
				</div>
		</div>

		<div class="control-goup">
			<label for="nome" class="control-label">Telefone</label>
				<div class="controls">
					<input type="text" id="telefone" name= "telefone" placeholder="Telefone" required>
					<button class="btn btn-lg btn-primary" type="submit">Cadastrar</button>
				</div>
		</div>					
      </form>
      <div class="alert">
		<small class="">
			OBS: Você não ira conseguir realizar outros cadastros sem antes cadastrar os dados de sua Biblioteca. Realize o cadastro das informações!
		</small>
	  </div>
    </div>

{% endblock %}


{% block ContentBar %}		
{% endblock %}