{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
	<title>Chameleon | Cadastro de Usuarios</title>
{% endblock %}

{% block form %}

	<h3 class="blocoH3">Cadastro de Acesso</h3>
	<form class="form-horizontal" action="." method="post"> {% csrf_token %}
		<div class="control-group">
			<label for="username" class="control-label">Usuario</label>
			<div class="controls">
				<input type="text" id="username" name="username" placeholder="Usuario" required autofocus>
			</div>
		</div>

		<div class="control-group">
			<label for="email" class="control-label">E-mail</label>
			<div class="controls">
				<input type="email" id="email" name="email" placeholder="Email" required>
			</div>
		</div>

		<div class="control-group">
			<label for="pesquisa" class="control-label">Senha</label>
			<div class="controls">
				<input type="password" id="password" name="password" placeholder="Senha" required>
				<button class="btn btn-lg btn-success" type="submit">Cadastrar</button>
			</div>
		</div>				
	</form>

{% endblock %}