{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Cadastro de Usuario{% endblock %}

{% block Estilo %}
{% endblock %}

{% block JScript %}
{% endblock %}

{% block Content %}		
	<h3 class="blocoH3">Alteração do Usuario: {{ form.nome.value }}</h3>
	<form class="form-horizontal" action="." method="post"> {% csrf_token %}

		<div class="control-group">
			<label for="codigo" class="control-label">Codigo</label>
			<div class="controls">
				<input type="text" id="codigo" name="codigo" placeholder="Codigo" value="{{ form.codigo.value|default_if_none:"" }}" required autofocus>
			</div>
		</div>

		<div class="control-group">
			<label for="nome" class="control-label">Nome</label>
			<div class="controls">
				<input type="text" id="nome" name="nome" placeholder="Nome" value="{{ form.nome.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="d_nasc" class="control-label">Data de Nascimento</label>
			<div class="controls">
				<input type="date" id="d_nasc" name="d_nasc" placeholder="00/00/0000" value="{{ form.d_nasc.value|default_if_none:"" }}" required>
			</div>
		</div>		

		<div class="control-group">
			<label for="cpf" class="control-label">CPF</label>
			<div class="controls">
				<input type="text" id="cpf" name="cpf" placeholder="111.111.111-00" value="{{ form.cpf.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="telefone" class="control-label">Telefone</label>
			<div class="controls">
				<input type="text" id="telefone" name="telefone" placeholder="00 00000-0000" value="{{ form.telefone.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="endereco" class="control-label">Endereço</label>
			<div class="controls">
				<input type="text" id="endereco" name="endereco" placeholder="Endereço" value="{{ form.endereco.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="email" class="control-label">E-mail</label>
			<div class="controls">
				<input type="email" id="email" name="email" placeholder="email@email.com" value="{{ form.email.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="tipo" class="control-label">Tipo</label>
			<div class="controls">
				<input type="text" id="tipo" name="tipo" placeholder="Ex: Socio, Gerente" value="{{ form.tipo.value|default_if_none:"" }}" required>
			</div>
		</div>		

		<div class="control-group">
			<label for="id_biblioteca" class="control-label">Biblioteca</label>
			<div class="controls">
				{{form.biblioteca}}	
				<button class="btn btn-success" type="submit">Atualizar</button>
				<!--<a href="deletar/usuario/{{ form.pk }}" class="btn btn-success" type="submit">Deletar</a>-->
			</div>
		</div>										
	</form>
{% endblock %}
