{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block Estilo %}
{% endblock %}

{% block JScript %}
{% endblock %}

{% block Content %}
	<h3 class="blocoH3">Cadastro de Livro</h3>
	<form class="form-horizontal" action="." method="post"> {% csrf_token %}
		<div class="control-group">
			<label for="codigo" class="control-label">Codigo</label>
			<div class="controls">
				<input type="text" id="codigo" name="codigo" placeholder="Codigo" value="{{ form.codigo.value|default_if_none:"" }}" required autofocus>
			</div>
		</div>

		<div class="control-group">
			<label for="titulo" class="control-label">Titulo</label>
			<div class="controls">
				<input type="text" id="titulo" name="titulo" placeholder="Titulo" value="{{ form.titulo.value|default_if_none:"" }}"required>
			</div>
		</div>		

		<div class="control-group">
			<label for="autor" class="control-label">Autor</label>
			<div class="controls">
				<input type="text" id="autor" name="autor" placeholder="Autor" value="{{ form.autor.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="genero" class="control-label">Genero</label>
			<div class="controls">
				<input type="text" id="genero" name="genero" placeholder="Genero" value="{{ form.genero.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="editora" class="control-label">Editora</label>
			<div class="controls">
				<input type="text" id="editora" name="editora" placeholder="Editora" value="{{ form.editora.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="publicacao" class="control-label">Ano de Publicação</label>
			<div class="controls">
				<input type="text" id="publicacao" name="publicacao" placeholder="Publicação" value="{{ form.publicacao.value|default_if_none:"" }}" required>
			</div>
		</div>

		<div class="control-group">
			<label for="id_biblioteca" class="control-label">Biblioteca</label>
			<div class="controls">
				{{form.biblioteca}}	
				<button class="btn btn-success" type="submit">Atualizar</button>
			</div>
		</div>									
	</form>
{% endblock %}

{% block ContentBar %}
{% endblock %}