{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Home{% endblock %}

{% block Estilo %}
{% endblock %}

{% block JScript %}
{% endblock %}

{% block Content %}
	<div class="blocoHome">
	  
	  <h2>Trabalho de Conclusão de Curso - ATP</h2>
	  	<div class="info">
		  <p>Escola: POLIMIG</p>
		  <p>Diciplina: Atividade Programada</p>
		  <p>Professor Orientador: Saulo Martins</p>
		  <p>Desenvolvido por: Rayane Paiva</p>
		  <p>Turma: 511</p>
		  <p>Turno: Noite</p>
		  
		  <p></p>
		</div>	  
	</div>	
{% endblock %}

{% block ContentBar %}
{% endblock %}