{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Home{% endblock %}

{% block Estilo %}
{% endblock %}

{% block JScript %}
{% endblock %}

{% block Content %}
	<div class="blocoHome">
	  
	  <h2>Trabalho de Conclusão de Curso - ATP</h2>
	  <h3><p>Chameleon Library</p></h3>
	  
	  <br><br>
	  
	  <p>Desenvolvido por: Rayane Paiva</p>
	  <p>Professor Orientador: Saulo Martins</p>
	  <p>Diciplina: Atividade Programada</p>
	  <p>Turma: 511</p>
	  <p>Turno: Noite</p>
	  <p>Escola: POLIMIG</p>
	  <p></p>
	  
	</div>	
{% endblock %}

{% block ContentBar %}
{% endblock %}