{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Pesquisa de Funcionario{% endblock %}

{% block Estilo %}
<link href="{% static 'css/pesquisas.css' %}" rel="stylesheet">
{% endblock %}

{% block Corpo %}		
<div class="container">

  <form class="form-signin" role="form" action="." method="post"> {% csrf_token %}
	<h2 class="form-signin-heading">Pesquisa</h2>
	
	<input type="text" class="form-control" id="key" name= "key" placeholder="Pesquisa" required autofocus/>

<!--	
	<label class="radio">	<input type="radio" id="rdCPF" name="radio" value="option1">Por CPF</label>
	<label class="radio">	<input type="radio" id="rdNome" name="radio" value="option2" >Por Nome</label>
	<label class="radio">	<input type="radio" id="rdCargo" name="radio" value="option3">Por Cargo</label>
	<label class="radio">	<input type="radio" id="rdCodigo" name="radio" value="option4">Por Codigo</label>
-->
	
	<table>
		<tr>
			<th><label for="rdCPF" class="radio">CPF</label></th>
			<th><label for="rdNome" class="radio">Nome</label></th>
			<th><label for="rdCargo" class="radio">Cargo</label></th>
			<th><label for="rdCodigo" class="radio">Codigo</label></th>
		<tr>
			
		<tr>
			<td><input type="radio" id="rdCPF" name="radio" value="option1"></td>
			<td><input type="radio" id="rdNome" name="radio" value="option2"></td>
			<td><input type="radio" id="rdCargo" name="radio" value="option3"></td>
			<td><input type="radio" id="rdCodigo" name="radio" value="option4"></td>
		</tr>
	</table>
	
	
	<table>
		<tr>
			<td><button class="btn btn-lg btn-primary" type="submit" id="pesquisar" name="pesquisar">Buscar</button></td>
			<td><button class="btn btn-lg btn-primary" type="submit" id="editar" name="editar">Editar</button></td>
			<td><button class="btn btn-lg btn-primary" type="submit" id="deletar" name="deletar">Deletar</button></td>
		</tr>
	<table>
	
  </form>
</div>
{% endblock %}

{% block JScript %}
{% endblock %}