{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Pesquisa de Usuarios{% endblock %}

{% block Estilo %}
{% endblock %}

{% block JScript %}
{% endblock %}

{% block Content %}

	<h3 class="blocoH3">Pesquisa de Usuarios</h3>
	<form class="form-horizontal" action="." method="post"> {% csrf_token %}

		<div class="control-group">
			<label for="pesquisa" class="control-label">Nome de Usuario</label>
			<div class="controls">
				<input type="text" id="pesquisa" name="pesquisa" placeholder="Ex: Gustavo" required autofocus>
				<button class="btn btn-success" type="submit">Buscar</button>
			</div>
		</div>
		
	</form>
	
	{% if oPessoa %}
		<table class="resultado table table-hover table-bordered">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Telefone</th>
					<th>E-mail</th>
					<th>CPF</th>
					<th>Tipo</th>
					<th>Ação</th>
				</tr>	
			</thead>
			<tbody>
			{% for pessoa in oPessoa %}
				<tr>				
					<td>{{pessoa.pk}}</td>
					<td>{{pessoa.telefone}}</td>
					<td>{{pessoa.email}}</td>
					<td>{{pessoa.cpf}}</td>
					<td>{{pessoa.tipo}}</td>
					<td><a href="editar/usuario/{{ pessoa.pk }}">Editar</a></td>
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	{% endif %}	

{% endblock %}

{% block ContentBar %}
{% endblock %}	