{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Pesquisa de Usuario{% endblock %}

{% block Estilo %}
<link href="{% static 'css/pesquisas.css' %}" rel="stylesheet">
{% endblock %}

{% block Corpo %}		
<div class="container">

  <form class="form-signin" role="form" action="." method="post"> {% csrf_token %}
	<h2 class="form-signin-heading">Pesquisa</h2>
	
	<input type="text" class="form-control" id="pesquisa" name= "pesquisa" placeholder="Pesquisa" required autofocus/>
	<button class="btn btn-lg btn-primary" type="submit" id="pesquisar" name="pesquisar">Buscar</button>
	
	{% if oPessoa %}
		<table class="resultado">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>E-mail</th>
					<th>Endereço</th>
					<th>Tipo</th>
					<th>Ação</th>
				</tr>	
			</thead>
			<tbody>
			{% for pessoa in oPessoa %}
				<tr>				
					<td>{{pessoa.nome}}</td>
					<td>{{pessoa.telefone}}</td>
					<td>{{pessoa.email}}</td>
					<td>{{pessoa.endereco}}</td>
					<td>{{pessoa.tipo}}</td>
					<td><a href="">Editar</a></td>
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	{% endif %}		
	
  </form>
</div>
{% endblock %}

{% block JScript %}
{% endblock %}