{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chameleon | Sobre{% endblock %}

{% block Estilo %}
{% endblock %}

{% block JScript %}
{% endblock %}

{% block Content %}
	<div class="blocoSobre">
		<h3>Biblioteca Chameleon</h3>
		<div class="textoSobre">
			<p>Inaugurada em 1961 a biblioteca publica do bairro Flores possui apenas dois andares e sedia um importante equipamento cultural do bairro. Apresenta alguns espaços destinados a diferentes manifestações culturais, disponibiliza um acervo atualizado de livros literários e informativos, e possui uma seção de livros raros e atendimento ao publico geral.</p>
		</div>
	</div>
{% endblock %}

{% block ContentBar %}
{% endblock %}