<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<link rel="shortcut icon" href="">
	
	<title>Chameleon</title>
	
  </head>
  <body>
	<div>
		<form>
			<h2>Formulario</h2>
			
			<input type="email" class="form-control" name="email" placeholder="Email" required autofocus><br>
			<input type="password" class="form-control" name="senha" placeholder="Senha" required><br>
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button><br>
			
			<p>Email: {{email}}</p>
			<p>Senha: {{senha}}</p>
		</form>
	</div>  
  </body>
</html>